$color-black: #333333;
$color-blue: #00445d;
$color-blue-light: #129fd2;
$color-blue-light2: #056e95;
$color-green: #4c7031;
$color-green-light: #618c40;
$color-orange: #f49619;
$color-orange-ligth: #ecb976;
$color-orange-ligth2: #ffcaa0;
$color-cream-dark: #ffe0c5;
$color-cream: #ffece1;
$font-minuscula: "Poppins",serif;
$font-cursiva: "Playfair Display",serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-minuscula;
  text-decoration: none;

  a {
    color: inherit;
  }

  h2{
    font-weight: normal;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 14px;
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border: 2px solid #ffffff;
    border-radius: 7px;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 1rem;
}

section {
  scroll-margin-top: 100px;
}

@import "header";
@import "home";
@import "business";
@import "services";
@import "stages";
@import "valores";
@import "datos";
@import "clientes";
@import "testimonios";
@import "contacto";
@import "footer";
@import "mediaqueries";